:root {
  --background-yellow: hsl(47, 88%, 63%);
  --background-dark-grey: hsl(0, 0%, 7%);
  --background-light-grey: hsl(0, 0%, 42%);
  --background-white: white;
  --extra-large-spacing: 1.625rem;
  --large-spacing: 0.75rem;
  --medium-spacing: 0.5rem;
  --small-spacing: 5px;
}

@font-face {
  font-family: Outfit;
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf');
}

body {
  margin: 0;
  background-color: var(--background-yellow);
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
h1 {
  margin: 0;
}

.main-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-section {
  margin-top: var(--extra-large-spacing);
}

.blog-image-container {
  border-radius: 10px;
  overflow: hidden;
}

.blog-card {
  background-color: white;
  box-shadow: 8px 8px 0 0 var(--background-dark-grey);
  border-radius: 20px;
  border: 1px solid var(--background-dark-grey);
  padding: 24px;
}

.blog-title {
  color: var(--background-dark-grey);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0;
  margin-top: var(--medium-spacing);
  margin-bottom: var(--large-spacing);
}

.blog-title:hover {
  color: var(--background-yellow);
  cursor: pointer;
}

.blog-date {
  color: var(--background-dark-grey);
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  margin-top: var(--medium-spacing);
  margin-bottom: var(--medium-spacing);
}

.blog-subtitle {
  color: var(--background-light-grey);
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: var(--extra-large-spacing);
}

.blog-tag {
  color: var(--background-dark-grey);
  width: fit-content;
  background-color: var(--background-yellow);
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
  padding: 4px 12px;
}

.author {
  color: var(--background-dark-grey);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
}

.author-name {
  margin-left: var(--medium-spacing);
}
